
<div class="logged-in">
 <h1 class="main-header"><%= @current_user.name %>'s Flatfile </h1>

    <h2 class="smaller-header">My Saved Artists</h2>
 
        <% @artists.each do |artist| %>
        <p>Name: 
        <a href="/artists/<%= artist.id %>">
        <%= artist.name %> </a><br>
        <% end %>
  
     <a href="/artists/new">Add an artist</a>
</div>