
<div class="nav-bar">
</div>

 <h1> <%= @current_user.name %>'s Flatfile </h1>
 <h2>My Saved Artists</h2>

<% if @artists.empty? %>
 You don't have any artists save yet!
 <% else%>
 <h3>Tap to see the artists artwork</h3>
<% end %> <br>

 <p>
        <% @artists.each do |artist| %>
        <p>Name: 
        <a href="/artists/<%= artist.id %>">
        <%= artist.name %> </a><br>
        <% end %>
         </p>
 

 <a id="add-artist-button" href="/artists/new">Add an artist</a>
