<div class="index">
<a id="cancel-button" href="/artists/index">Cancel</a>
    
<div class="logged-in">
  <h2> Add a new artist </h2> <br>
  
  <form action="/artists" method="post">
      <div class="container">
        <input class="input-box" type="text" name="name" placeholder="Artists Name" required><br>
        <input class="input-box" type="textarea" name="notes" placeholder="Notes"><br>
        <input class="submit-button" type="submit" class="add" value="Add">
      </div>
  </form>
</div>
</div>