<h1> Add a new artist </h1> <br>
<form action="/artists" method="post">

  Artist Name: <input type="text" name="name" placeholder="Artists Name" required><br>
  Artist Name: <input type="textarea" name="notes" placeholder="Notes" required><br>
  
 <input type="submit" class="add" value="Add">
</form>