    <a id="cancel-button" href="/artists/index">Cancel</a>
    
<div class="logged-in">

<h1  class="main-header"> Add a new artist </h1> <br>

<form action="/artists" method="post">

 <div class="container">
  <input class="input-box" type="text" name="name" placeholder="Artists Name" required><br>
  <input class="input-box" type="textarea" name="notes" placeholder="Notes"><br>

 <input type="submit" class="add" value="Add">
</div>
</form>
</div>