
<div class="artist">
  <h1>Name: <%= @artist.name %></h1><br>
</div><br>



<a href="/artworks/new"> Add an artwork </a><br>

<form method="post" action="/artists/<%= @artist.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>

