add an artwork 

<form action="/artworks" method="post">

  Artwork Title: <input type="text" name="title" placeholder="Artworks Name" required><br>
  Artwork Medium: <input type="text" name="medium" ><br>
  Artwork Location: <input type="text" name="location" ><br>
  Artwork Notes: <input type="textarea" name="name" ><br>

 <input type="submit">
</form>

