add an artwork 

<h1> Add a new artwork </h1> <br>
<form action="/artworks" method="post">

  Artwork Title: <input type="text" name="title" placeholder="Artworks Name" required><br>
  Artwork Medium: <input type="text" name="medium" ><br>
  Artwork Location: <input type="text" name="location" ><br>
  Artwork Notes: <input type="textarea" name="notes" ><br>

 <input type="submit" value="Add">
</form>

