<h3 class="main-header">Title: <%= @artwork.title%></h3><br>
</div><br>

<a href="/artworks/new"> Add an artwork </a><br>

<form method="post" action="/artworks/<%= @artwork.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>
