
body {font-family: Raleway, sans-serif; background: #C9B1EC;}

.login-form
{
  display: block;
  text-align: center;
  border: 1px solid rgba(112,112,112,1);
  background: white;
  filter: drop-shadow(25px 40px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 730px;
	height: 700px;
  top: 145px;
  border-radius: 5pt;
  margin-left: auto;
  margin-right: auto;
}

#logout-button {
  background-color:white;
  color: black;
  border-radius: 40px;
  padding: 14px 20px;
  margin: 8px 10px 0;
  border: none;
  cursor: pointer;
  width: 10%;
  font-size: 30px;
  display:block;
  float: right;
  border: 2px solid rgba(112,112,112,1);
}

#cancel-button {
  background-color:white;
  border-radius: 40px;
  color: black;
  padding: 14px 20px;
  margin: 8px 10px 0;
  border: none;
  cursor: pointer;
  width: 10%;
  font-size: 30px;
  display:block;
  border: 2px solid rgba(112,112,112,1);
}

.logged-in {
    display: block;
   text-align: center;
   border: 1px solid rgba(112,112,112,1);
   background: white;
   filter: drop-shadow(25px 40px 10px rgba(0, 0, 0, 0.161));

	overflow: visible;
	
	
	top: 145px;
   border-radius: 5pt;
 margin: 0px;
position: center;
height: 100%;
width: 90%;

}

.input-box{
 
  width: 514px;
  padding: 20px 20px;
  margin: 8px 0;
  display: block;
  float: right;
  box-sizing: border-box;
  text-align: center;  
  background: #F2F2F2;
  border-radius: 25pt;
  border: 2.5px solid rgba(112,112,112,1);
  font-size: 30px;
  font-family: Raleway;
}

h1 {
	text-align: center;
    font-style: normal;
		font-weight: normal;
		font-size: 80px;
      height: 50px;
}

h2 {

text-align: center;
color: #707070;
	font-weight: lighter;
	font-size: 32px;
		color: rgb(31, 21, 21);

}
button {
  background-color: #C9B1EC;
  border-radius: 40px;
  color: white;
  padding: 14px 20px;
  margin: 8px 10px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  font-size: 30px;
   margin-left: auto;
    margin-right: auto;
    display:block;
     border: 2px solid rgba(112,112,112,1);
}
#Nav_bar {
		fill: rgba(201,177,236,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
		position: absolute;
		overflow: visible;
		width: 1738px;
		height: 114px;
		left: 104px;
		top: 74px;
	}

button:hover {
  display: block;
  text-align: center;
  border: 1px solid rgba(112,112,112,1);
  background: white;
  filter: drop-shadow(25px 40px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 730px;
	height: 700px;
  top: 145px;
  border-radius: 5pt;
  margin-left: auto;
  margin-right: auto;
}




span.psw {
  float: right;
  padding-top: 16px;
}

#signup-login-link{
	left: 833px;
	vertical-align: -200;

		overflow: visible;
		width: 255px;
		white-space: nowrap;

		cursor: pointer;
		text-align: left;
		font-family: Raleway;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(112,112,112,1);
}
#add-artist-button{
  background-color: #C9B1EC;
  border-radius: 40px;
  color: white;
  padding: 14px 20px;
  margin: 8px 10px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  font-size: 30px;
   margin-left: auto;
    margin-right: auto;
    display:block;
     border: 2px solid rgba(112,112,112,1);
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  
