<!doctype html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>FlatFile</title>
  </head>
  
  <body>
     <% if logged_in? %> 
     <div class="nav-bar">
      <a id="logout-button" href="/logout">Logout</a>
     </div>
     <%end%>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>