<!doctype html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>FlatFile</title>
  </head>
  
<body>

  <div class="topnav">
    <% if logged_in? %> 
    <%#  <h1> <%= @current_user.name %><%#'s Flatfile </h1> %>   
      <a id="logout-button" href="/logout">Logout</a>
      <a id="home-button" href="/artists">All Artists</a>     
      <a id="artworks-button" href="/artworks">All Artworks</a>  
    <%end%>
  </div>
  <div style="padding-left:16px">
    <h2>Flat File</h2>
  </div>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>