

<body>
<div class="login-form">
<h1>FlatFile</h1>
<h2>A place to store your favorite art. </h2>

<form action="/login" method="post">


  <div class="container">
   
  
    <input class="input-box" type="text" name="email" id="email" placeholder="Email" required/><br>
   
    <input  class="input-box" type="password" name="password" id="password" placeholder="Password" required/>
   
    <button type="submit">Sign in</button>
   
  </div>
  
  <a id="signup-login-link" href="/signup">Create an account</a>


</form>
</div>
</body>