

<body>
<div class="login-form">
<h1>FlatFile</h1>
<h2>A place to store your favorite art. </h2>

<form action="/action_page.php" method="post">
  <div class="imgcontainer">
   
  </div>

  <div class="container">
   
  
    <input type="text" name="email" id="email" placeholder="Email" required/><br>
   
    <input type="password" name="password" id="password" placeholder="Password" required/>
   
    <button type="submit">Sign in</button>
   
  </div>
  
  <a id="create-account" href="/signup">Create an account</a>


</form>
</div>
</body>