<div id="FlatFile">
    <span>FlatFile</span>
</div>

<div id="A_place_to_store_your_favorite">
    <span>A place to store your favorite art.</span>
</div>

<h2> Sign in </h2>
<form action="/login" method="POST">
    <p>
    <label for="email"></label>
    <input type="text" name="email" id="email" placeholder="Email"/><br>
    <label for="password"></label>
    <input type="password" name="password" id="password" placeholder="Password" />
  
    </p>
    <input type="submit" class="singin" value="Sign in" />
    </form>
    <a href="/signup">Create an account</a>
 
